.background {
  background: url('/images/background.jpg') no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  outline: 15px ridge green;
  font-family: monospace;
}

html {
  scroll-behavior: smooth;
}

