.background {
  background: url('/images/background.jpg') no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  outline: 15px ridge green;
  font-family: monospace;
}

.footer {
  border-width: 0px 0px 10px 0px;
  border-style: solid;
  border-image-source: url("/images/border.jpg");
  border-image-slice: 20% 0 100% 0;
  border-image-width: 0 0 10 0;
  border-image-repeat: round round;
}

html {
  scroll-behavior: smooth;
}

.glow {
  font-size: 80px;
  color: black;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
