.background {
  background-color: black;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  /*outline-style: double;*/
  /*outline-width: 10px;*/
  /*outline-color: green;*/
  border: 10px solid;
  border-image-source: url("/images/border.jpg");
  border-image-width: 2 0 10 0;
  border-image-slice: 20% 0 100% 0;
  border-image-repeat: round round;
  color: white;
  font-family: monospace;
  overflow: scroll;
}

.menu {
  background-color: black;
  color: white;
  box-shadow: 10px 10px 5px grey;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

html {
  scroll-behavior: smooth;
}

.glow {
  font-size: 80px;
  color: black;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
